# Ignore everything
*

# Except

!.git/
!.gitignore

!main.go

!internal/  
!internal/**

!cmd/
!cmd/**

!go.mod
!go.sum

!payloads/
!payloads/**
!images/
!images/**

!README.md

!docs/
!docs/**   


