# Ignore everything by default
*

# Allow specific files and folders
!.gitignore
!README.md
!go.mod
!go.sum
!.exe

# Allow specific folders and their contents
!cmd/
!cmd/**
!docs/
!docs/*.md
!images/
!images/**
!internal/
!internal/**
#!tests/
!tests/*.go
!tests/*.md
#!tools/
!tools/*.go
!tools/*.md