# Ignore everything
*

!.gitignore
!.github/workflows/*.yml
!README.md
!go.mod
!go.sum
!.goreleaser.yml
!LICENSE

!cmd/
!cmd/**
!docs/
!docs/*.md
!images/
!images/**
!internal/
!internal/**
!core/
!core/*
!core/**

!tests/
!tests/*
!tests/**
!test-tools/
!test-tools/*
!test-tools/**

!pkg/
!pkg/*
!pkg/**
!pkg/fasthttp/
!pkg/fasthttp/*
!pkg/fasthttp/**